{% define "footer-pubjs" %}

<!--[if (gte IE 9)|!(IE)]><!-->
<script type="text/javascript" src="/pub/js/jquery/jquery-3.2.1.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script type="text/javascript" src="/pub/js/json2/json2.min.js"></script>
<script type="text/javascript" src="/pub/js/jquery/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/pub/js/modernizr/modernizr-3.3.1.min.js"></script>
<script type="text/javascript" src="/pub/js/rem-unit-polyfill/rem.min.js"></script>
<script type="text/javascript" src="/pub/js/respond/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="/pub/js/lodash/lodash.min.js"></script>
<script type="text/javascript" src="/pub/js/tether/js/tether.min.js"></script>
<script type="text/javascript" src="/pub/js/holder/holder.min.js"></script>
<script type="text/javascript" src="/pub/js/base64/base64.min.js"></script>
<script type="text/javascript" src="/pub/js/clipboard/clipboard.min.js"></script>
<script type="text/javascript" src="/pub/js/vue/vue.min.js"></script>
<script type="text/javascript" src="/pub/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/pub/js/amaranjs/jquery.amaran.min.js"></script>
<script type="text/javascript" src="/pub/js/app.min.js"></script>
{% end %}