{% define "header-meta" %}
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UsA-Compatible" content="IE=edge,chrome=1" />
<meta name="Viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="Keywords" content="荣之联镜像库 | IaaS | PaaS | SaaS | Docker | CaaS" />
<meta name="Description" content="荣之联镜像库 | IaaS | PaaS | SaaS | Docker | CaaS" />
<meta name="Copyright" content="RongLian.com" />
<meta name="Author" content="Eric Shi/QQ:155122504" />
<link rel="canonical" href="http://www.ronglian.com" />
<meta name="Renderer" content="webkit" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telephone=no" />

<link rel="icon" type="image/png" href="/pub/images/favicon.ico" />
<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="16x16" href="/pub/images/favicon.ico" />
<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-mobile-web-app-title" content="RongLian.com" />
<link rel="apple-touch-icon-precomposed" href="/pub/images/favicon.ico" />
<!--[if IE]>
<script type="text/javascript" src="/pub/s/js/bootstrap/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript" src="/pub/js/bootstrap/ie-emulation-modes-warning.js"></script>
<meta name="msapplication-TileImage" content="/pub/images/favicon.ico" />
<meta name="msapplication-TileColor" content="#0e90d2" />
<![endif]-->
<link rel="stylesheet" href="/pub/css/tether/css/tether.min.css" />
<link rel="stylesheet" href="/pub/css/bootstrap/bootstrap.min.css" />
<link rel="stylesheet" href="/pub/css/bootstrap/bootstrap-fix.min.css" />
<link rel="stylesheet" href="/pub/css/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/pub/css/amaranjs/amaran.min.css" />
<link rel="stylesheet" href="/pub/css/nprogress/nprogress.min.css" />
<link rel="stylesheet" href="/pub/css/app.min.css" /> {% end %}